body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37474F;
    color: white;
    padding: 6px;
}

header img {
    height: auto;
    margin-right: 10px;
    width: 32px;
}

header a {
    align-items: center;
    color: white;
    display: flex;
    text-decoration: none;
}

header a:hover {
    color: #BDBDBD;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 6px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 6px;
    position: relative;
    display: flex;
    align-items: center;
}

nav a:hover {
    color: #BDBDBD;
    max-height: 128px;
    width: auto;
}

footer {
    align-items: center;
    background-color: #37474F;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 6px;
}